<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>First EJS App</title>
</head>
<body>
    <% users.forEach(user => { %>
        <div class = "user">
            <img src="<%= user.image %>" alt="avatar">
            <p><%= user.name %></p>
            <p><%= user.email %></p>
        </div>
    <% }) %>
    <br>
    <a href="/form"> Add user</a>
    <a href="/remove/user"> Remove user</a>

</body>
</html>